body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#all-games {
    justify-content: space-evenly;
    display: flex;
    gap: 300px;
}

.top-name {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: -34px; /* Ajuste a posição do nome em cima */
    left: 50%;
    transform: translateX(-50%);
}

.left-name {
    margin-top: 160px;
    position: absolute;
    left: -30px; /* Ajuste a posição do nome à esquerda */
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left center; /* Para girar a partir do lado esquerdo */
}

#match-matrix {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    width: fit-content;
    display: flex;
}

.x-axis-label {
    grid-column: span 21; /* It should span the full width of the grid */
    text-align: center;
    margin-top: 10px;
}

.y-axis-label {
    transform: rotate(-90deg);
    transform-origin: left bottom;
    margin-right: 10px;
    text-align: center;
    writing-mode: vertical-rl; /* Ensures the text is written vertically */
    height: 100%;
    align-self: center;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.cell-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-part:last-child {
    border-bottom: none;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}
