body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#match-matrix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.cell-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-part:last-child {
    border-bottom: none;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}
