body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#match-matrix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
}

.x-axis-label {
    grid-column: span 21; /* It should span the full width of the grid */
    text-align: center;
    margin-top: 10px;
}

.y-axis-label {
    transform: rotate(-90deg);
    transform-origin: left bottom;
    margin-right: 10px;
    text-align: center;
    writing-mode: vertical-rl; /* Ensures the text is written vertically */
    height: 100%;
    align-self: center;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.cell-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-part:last-child {
    border-bottom: none;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}
